body{
	background-color: #E0E0E0;
}

.nav-wrapper{
	background-color: #82DEED;
}

.row{
	height: 100%;
		margin-bottom: 0px;
}

.row img{
	margin-top: 1rem;
	width: 100%;
	height: 100%;
}

#content{
	height: 100%;
	background-color: #E0E0E0;
}

#menu{
	height: 100%;
	background-color: #8CC24A;
}

.card-title{
	color: #FFF;
	text-shadow: 0.5px 0.5px #000;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
	color: #4BAF4F;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
	color: #4BCE4F;
}

.title{
	margin-top: 2rem;
	margin-bottom: 1rem;
	text-align: center;
	color: #FFF;
	font-weight: bold;
}

.collection a.collection-item:not(.active) {
	background-color: #82DEED;
	/*color: #4BAF4F;*/
	color: #000;
	font-weight: bold;
}
.collection a.collection-item:not(.active):hover {
	background-color: #8CCBFF ;
	color: #FFF;
}
.collection .collection-item.active{
	background-color: #1F98F1;
}

footer.page-footer{
	margin: 0px;
	padding: 5px;
}